.collection-con {
    padding: 100px
}

.collection-con h2 {
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 50px;
    letter-spacing: 0.005em;
    color: #11142D;
}

.collection-con .collection-nav {
    margin-bottom: 50px;
}

.collection-con .collection-nav li a {
    color: #9A9AB0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.005em;
    cursor: pointer;
}

.collection-con .collection-nav li a:active {
    color: #F86338;
}

.collection-con .collection-nav li a:hover {
    color: #F86338;
}



.button-con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 600px) {
    .collection-con h2 {
        font-size: 28px;
        line-height: 120%;
    }

    .collection-con .collection-nav li a {
        font-size: 12px;

    }
}