.icon-container {
    font-size: 20.458988189697266px;
    left: 1.7607421875px;
    top: 1.7080078125px;
    border-radius: 0px;
    margin-right: 10px;
}

.navbar-expand-lg .container-fluid .navbar-nav li a {
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 15px;
}

.form-container {
    width: 573px;
}

.nav-main-container {
    background: #F4F7F8
}

.nav-main-container ul li a {
    color: #11142D;
}

.nav-main-container ul li a span sup {
    padding: 3px 5px;

    border-radius: 50%;
    color: white;
    background-color: #F86338;
}

.nav-main-container ul li a span {
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    #navbarRight {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #navbarRight ul {
        display: flex;
        flex-direction: row;
    }
}